<div class="clearboth"></div>
<div class="last">
  <div class="column ">
    <a href="#" data-role="show-copy-room-data" class="copy-room-link btn btn-info btn-mini right display-none">Copy Inventory Room</a>
  </div>
  <div class="column ">
    <a href="#" data-role="save-copy-room-data" class="save-room-link btn btn-alt right display-none">Save</a>
  </div>
  <div class="column display-none select-location-id right margin-right">
    {{{ select_copy_location }}}
  </div>
  <div class="column display-none copy-location-id right margin-right">
    <input type="text" name="new_room" value="" placeholder="New Room Name" id="new-room-name">
  </div>

  <div class="column ">
    <a href="#" data-role="check_copy_onventory_data" class="btn btn-info btn-mini check-btn check-btns display-none">Check All</a>
    <a href="#" data-role="uncheck_copy_onventory_data" class="btn btn-info btn-mini uncheck-btn check-btns display-none">Uncheck All</a>
  </div>
</div>
<div class="clearboth"></div>
<div class="rapid_bar">
  <ul>
    <li class="purchase_label purchase_bg margin-left40">Purchse Unit Price </li>
    <li class="purchase_label purchase_bg margin-left20">Purchase Unit Count </li>
    <li class="inventory_label inventory_bg margin-left20">Inventory Unit Price </li>
    <li class="inventory_label inventory_bg margin-left20">Inventory Unit Count </li>
  </ul>
  <div class="clearboth"></div>
  </div>
  <div class="clearboth"></div>
<div class="edit_bar display-none" >
  <ul>
    <li class="handle-spacer"></li>
    <li class="quantity">Qty</li>
    <li class="unit_id">Unit</li>
    <li class="location_id">Room</li>
    <li class="price">Unit Price</li>
    <li class="price_date">Price Date</li>
    <li class="latest_price">Last $</li>
    <li class="total_price">$ Total</li>
    <li class="par">Par</li>
    <li class="order">Order</li>
    <li class="vendor_id">Vendor</li>
    <li class="category_id">Category</li>
  </ul>
</div>
<div class="unit_bar display-none">
  <ul>
    <li class="purchase_label_head purchase_bg margin-left10p">Purchase</li>
    <li class="inventory_label_head inventory_bg margin-left14p">Inventory</li>
    <li class="recipe_label_head recipe_bg margin-left12p">Recipe</li>
  </ul>
  <div class="clearboth"></div>
  <ul>
    <li class="purchase_label purchase_bg margin-left30">Purchase Unit </li>
    <li class="purchase_label purchase_bg margin-left20">Unit Price </li>
    <li class="purchase_label purchase_bg margin-left20">Unit Count </li>
    <li class="inventory_label inventory_bg margin-left20">Inventory Unit </li>
    <li class="inventory_label inventory_bg margin-left20">Unit Price </li>
    <li class="inventory_label inventory_bg margin-left20">Unit Count </li>
    <li class="recipe_label recipe_bg margin-left30">Recipe Unit </li>
    <li class="recipe_label recipe_bg margin-left20">Unit Price </li>
    <li class="recipe_label recipe_bg margin-left20">Unit Count </li>
  </ul>
</div>